.flex-row {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 100px;
}